<!-- frontend/index.html -->
{{define "title"}} Groupie Tracker {{end}} {{define "content"}}

<section class="s2">
  <div class="s2Showcase">
    <!--
      TEST article
    -->
    {{range .}}
    <article class="musicShowcase">
      <div class="musicImg">
        <img src="{{.Image}}" alt="{{.Name}}" />
      </div>
      <div class="musicContent">
        <div class="section">
          <h2>{{.Name}}</h2>
          <span>Founded: {{.CreationDate}}</span>
          <br />
          <span>Debut Album: {{.FirstAlbum}}</span>
        </div>
        <div class="section">
          <span>Members:</span>
          <ol>
            {{range .Members}}
            <li>{{.}}</li>
            {{end}}
          </ol>
        </div>
      </div>
    </article>
    {{end}}
    <!--
      TEST END article
    -->
  </div>
</section>
{{end}}
