{{define "layout"}}
<html>
  <head>
    <title>{{template "title" .}}</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <header class="headerHeader">
      <nav class="headerNav">
        <a
          aria-current="page"
          aria-label="home page"
          class="headerLink"
          href="/"
        >
          <img
            src="images/01FCLogo.svg"
            alt="Logo SVG"
            width="40"
            height="40"
            viewbox="0 0 50 50"
          />
        </a>
      </nav>
    </header>
    <main class="mainMain">
      <section class="s1">
        <h1 class="s1Header">The Music API</h1>
        <div class="s1img">
          <img
            src="images/MusicBG.svg"
            alt="BG SVG"
            width="150"
            height="150"
            viewbox="0 0 378 376"
            fill="none"
          />
        </div>
      </section>
      {{ template "content" . }}
    </main>
    <footer class="footerFooter">
      <ul class="iconLinks">
        <li>
          <a
            class="githubImg"
            href="https://github.com/01founders-crack/"
            title="GitHub"
            aria-label="github"
            rel="noopener noreferrer"
            target="_blank"
          >
            <img
              src="images/github.svg"
              alt="GitHub SVG"
              height="32"
              width="32"
            />
          </a>
        </li>
        <li>
          <a
            class="twiiterImg"
            href="https://twitter.com/"
            title="Twitter"
            aria-label="twitter"
            rel="noopener noreferrer"
            target="_blank"
          >
            <img
              src="images/twitter.svg"
              alt="Twitter SVG"
              height="32"
              width="32"
            />
          </a>
        </li>
        <li>
          <a
            class="donationImg"
            href="https://www.buymeacoffee.com/01founderscrack"
            title="Donate To Us!"
            aria-label="donate"
            rel="noopener noreferrer"
            target="_blank"
          >
            <img
              src="images/donate.svg"
              alt="Donation SVG"
              height="32"
              width="32"
            />
          </a>
        </li>
      </ul>
      <div class="devNames">
        <span>
          by
          <a href="https://uk.linkedin.com/in/glitvjak">glitvjak</a>
          and
          <a
            href="https://uk.linkedin.com/in/nazimcanozpinarli?trk=public_profile_browsemap"
            >0xncndev</a
          >
        </span>
      </div>
    </footer>
  </body>
</html>
{{end}}
